<div class="col s12 m3">
    <div class="card">
        <div class="card-image">
            <img src="{{ genre.image.url }}">
        </div>
        <div class="card-content">
            <span class="card-title"><a href="{% url 'base:genre_details' genre.slug %}">{{ genre|truncatewords:3 }}</a> </span>
            <p>{{ genre.description|truncatechars:70 }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'base:genre_details' genre.slug %}">more...</a>
        </div>
    </div>
</div>