<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Author details</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">LOGO library</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Home</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col m6">
                <h2 class="genres">Author name</h2>
            </div>
            <div class="col m6 action-icons hide-on-small-only">
                <i class="material-icons right bookmark" style="margin-top: 60px">bookmark_border</i>
                <i class="material-icons right share" style="margin-top: 60px">share</i>
                <i class="material-icons right favorite" style="margin-top: 60px">favorite_border</i>
            </div>
        </div>



        <div class="row">
            <div class="valign-wrapper">
                <div class="col m1 hide-on-small-only"><a class="tooltipped" data-position="top" data-tooltip="Previous"
                                                          href="#"><i
                        class="material-icons size-icon" style="color: #607d8b">chevron_left</i></a></div>
                <div class="col m8 s12">
                    <div class="img-author-books">
                        <img src="romance.jpg">
                    </div>
                </div>
                <div class="col m1 hide-on-small-only"><a class="tooltipped" data-position="top" data-tooltip="Next"
                                                          href="#"><i
                        class="material-icons size-icon" style="color: #607d8b">chevron_right</i></a></div>
            </div>


            <div class="fixed-action-btn hide-on-med-and-up">
                <a class="btn-floating btn-large red-icon">
                    <i class="large material-icons">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating blue-grey darken-2 tooltipped" data-position="top" data-tooltip="Previous"><i
                            class="material-icons">chevron_left</i></a></li>

                    <li><a class="btn-floating blue-grey darken-1 tooltipped" data-position="top" data-tooltip="next"><i
                            class="material-icons">chevron_right</i></a></li>

                    <li><a class="btn-floating  blue-grey tooltipped bookmark" data-position="top" data-tooltip="bookmark"><i
                            class="material-icons">bookmark_border</i></a></li>

                    <li><a class="btn-floating  blue-grey lighten-1 tooltipped share" data-position="top" data-tooltip="share"><i
                            class="material-icons">share</i></a></li>

                    <li><a class="btn-floating blue-grey lighten-2 tooltipped favorite" data-position="top" data-tooltip="like"><i
                            class="material-icons">favorite_border</i></a></li>
                </ul>
            </div>

        </div>

        <!--   Icon Section   -->
        <div class="row">
            <!-- start genre-->
            <h4 class="genres">Related books</h4>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="fantasy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fantasy</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="sci_fi.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Sci-Fi</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="mystery.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Mystery</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="thriller.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Thriller</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>

            <a href="#"><span class="more">more...</span></a>
            <!-- start genre-->
        </div>


        <h4 class="genres">Related Authors</h4>

        <div class="row">
            <!-- start genre-->
            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="fantasy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fantasy</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="sci_fi.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Sci-Fi</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="mystery.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Mystery</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="thriller.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Thriller</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <a href="#"><span class="more">more...</span></a>
            <!-- start genre-->
        </div>


        <h4 class="genres">Related files</h4>
        <div class="row center">

            <div class="col m4 s12">
                <div class="card-panel blue-grey darken-1 white-text" style="padding: 10px 10px">
                    <span class="attachment-files valign-wrapper">text.csv</span>
                </div>
            </div>

            <div class="col m4 s12">
                <div class="card-panel blue-grey white-text" style="padding: 10px 10px">
                    <span class="attachment-files valign-wrapper">text.json</span>
                </div>
            </div>

            <div class="col m4 s12">
                <div class="card-panel blue-grey lighten-1 white-text" style="padding: 10px 10px">
                    <span class="attachment-files valign-wrapper">text.text</span>
                </div>
            </div>

        </div>
    </div>

    <div class="section">
        <div class="row">
            <h4 class="genres">Comments</h4>
            <div class="col s12">
                <div class="card-panel" style="padding: 15px 24px">
                    <div class="row">
                        <div class="">
                            <div class="col m2">
                                <img class="comment-user hide-on-small-only" src="fantasy.jpg">
                                <div style="font-size: 12px"><i>Faez</i></div>
                            </div>
                            <div class="col m10 s12">
                                <span class="comment-action">
                                    <a class="right grey-text tooltipped like" data-position="top" data-tooltip="like"
                                       href=""><i class="material-icons dislike">thumb_up</i></a>
                                    <a class="right grey-text tooltipped" data-position="top" data-tooltip="dislike"
                                       href=""><i class="material-icons">thumb_down</i></a>
                                    <a class="right grey-text tooltipped modal-trigger" href="#comment-modal"
                                       data-position="top" data-tooltip="reply"
                                       href=""><i class="material-icons">reply</i></a>
                                </span>
                                <p>hello A modern responsive front-end framework based on Material DesignA modern
                                    responsive front-end framework based on Material DesignA modern responsive front-end
                                    framework based on Material DesignA modern responsive front-end framework based on
                                    Material Design.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s11 right">
                <div class="card-panel" style="padding: 15px 24px">
                    <div class="row">
                        <div class="">
                            <div class="col m2">
                                <img class="comment-user hide-on-small-only" src="fantasy.jpg">
                                <div style="font-size: 12px"><i>Faez</i></div>
                            </div>
                            <div class="col m10 s12">
                                <span class="comment-action">
                                    <a class="right grey-text tooltipped like" data-position="top" data-tooltip="like"
                                       href=""><i class="material-icons dislike">thumb_up</i></a>
                                    <a class="right grey-text tooltipped" data-position="top" data-tooltip="dislike"
                                       href=""><i class="material-icons">thumb_down</i></a>
                                </span>
                                <p>hello A modern responsive front-end framework based on Material DesignA modern
                                    responsive front-end framework based on Material DesignA modern responsive front-end
                                    framework based on Material DesignA modern responsive front-end framework based on
                                    Material Design.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <a class="btn modal-trigger" href="#comment-modal">comment</a>
            <!-- Modal comment -->
            <div id="comment-modal" class="modal">
                <div class="modal-content">
                    <h4 class="comment-icon">Comment</h4>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Your comment</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="col s1 m1">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="ciberspace.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer blue-grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Most likes</a></li>
                    <li><a class="white-text" href="#!">Last books</a></li>
                    <li><a class="white-text" href="#!">Most viewes</a></li>
                    <li><a class="white-text" href="#!">Most comments</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Login</a></li>
                    <li><a class="white-text" href="#!">Sign Up</a></li>
                    <li><a class="white-text" href="#!">About me</a></li>
                    <li><a class="white-text" href="#!">Contact with me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Faezeh Karraby 👩‍💻</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.bookmark').on('click', function () {
            if ($(this).text() == 'bookmark') {
                $(this).text('bookmark_border')
            } else {
                $(this).text('bookmark')
            }
        });

        $('.share').on('click', function () {
            $(this).css('color', '#0D47A1')
        });

        $('.favorite').on('click', function () {
            if ($(this).text() == 'favorite') {
                $(this).text('favorite_border')
                $(this).css('color', '#000')

            } else {
                $(this).text('favorite')
                $(this).css('color', '#d81b60')
            }
        });

        $('.tooltipped').tooltip();

        $('.modal').modal();

        $('.like').on('click', function () {
            $(this).css('color', '#0D47A1')
        });

        $('.dislike').on('click', function () {
            $(this).css('color', '#0D47A1')
        });

        $('.fixed-action-btn').floatingActionButton();
    });
</script>
</body>
</html>
