<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Genre details</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">LOGO library</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Home</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="container">
    <div class="section">

        <h2 class="genres">Fantasy</h2>

        <div class="card-panel">
            <p>Fantasy is a genre of speculative fiction involving magical elements, typically set in a fictional
                universe and sometimes inspired by mythology and folklore. Its roots are in oral traditions, which then
                became fantasy literature and drama. From the twentieth century it has expanded further into various
                media, including film, television, graphic novels, manga, animated movies and video games.</p>
        </div>


        <h4 class="genres">Recommended books</h4>


        <div class="row">
            <!-- start genre-->

            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="fantasy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fantasy</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="sci_fi.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Sci-Fi</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="mystery.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Mystery</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="thriller.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Thriller</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>

        </div>
        <a href="#"><span class="more">more...</span></a>


        <h4 class="genres">Recommended authors</h4>


        <div class="row">
            <!-- start genre-->

            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="fantasy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fantasy</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="sci_fi.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Sci-Fi</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="mystery.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Mystery</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="thriller.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Thriller</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>

        </div>
        <a href="#"><span class="more">more...</span></a>


        <h4 class="genres">Other genre</h4>


        <div class="row">
            <!-- start genre-->

            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="fantasy.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Fantasy</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="sci_fi.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Sci-Fi</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="mystery.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Mystery</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m3">
                <div class="card">
                    <div class="card-image">
                        <img src="thriller.jpg">

                    </div>
                    <div class="card-content">
                        <span class="card-title">Thriller</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">more...</a>
                    </div>
                </div>
            </div>

        </div>
        <a href="#"><span class="more">more...</span></a>

    </div>

    <div class="section">
        <div class="row">
            <h4 class="genres">Comments</h4>
            <div class="col s12">
                <div class="card-panel" style="padding: 15px 24px">
                    <div class="row">
                        <div class="">
                            <div class="col m2">
                                <img class="comment-user hide-on-small-only" src="fantasy.jpg">
                                <div style="font-size: 12px"><i>Faez</i></div>
                            </div>
                            <div class="col m10 s12">
                                <span class="comment-action">
                                    <a class="right grey-text tooltipped like" data-position="top" data-tooltip="like"
                                       href=""><i class="material-icons dislike">thumb_up</i></a>
                                    <a class="right grey-text tooltipped" data-position="top" data-tooltip="dislike"
                                       href=""><i class="material-icons">thumb_down</i></a>
                                    <a class="right grey-text tooltipped modal-trigger" href="#comment-modal"
                                       data-position="top" data-tooltip="reply"
                                       href=""><i class="material-icons">reply</i></a>
                                </span>
                                <p>hello A modern responsive front-end framework based on Material DesignA modern
                                    responsive front-end framework based on Material DesignA modern responsive front-end
                                    framework based on Material DesignA modern responsive front-end framework based on
                                    Material Design.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s11 right">
                <div class="card-panel" style="padding: 15px 24px">
                    <div class="row">
                        <div class="">
                            <div class="col m2">
                                <img class="comment-user hide-on-small-only" src="fantasy.jpg">
                                <div style="font-size: 12px"><i>Faez</i></div>
                            </div>
                            <div class="col m10 s12">
                                <span class="comment-action">
                                    <a class="right grey-text tooltipped like" data-position="top" data-tooltip="like"
                                       href=""><i class="material-icons dislike">thumb_up</i></a>
                                    <a class="right grey-text tooltipped" data-position="top" data-tooltip="dislike"
                                       href=""><i class="material-icons">thumb_down</i></a>
                                </span>
                                <p>hello A modern responsive front-end framework based on Material DesignA modern
                                    responsive front-end framework based on Material DesignA modern responsive front-end
                                    framework based on Material DesignA modern responsive front-end framework based on
                                    Material Design.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <a class="btn modal-trigger" href="#comment-modal">comment</a>
            <!-- Modal comment -->
            <div id="comment-modal" class="modal">
                <div class="modal-content">
                    <h4 class="comment-icon">Comment</h4>

                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Your comment</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Comment</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="col s1 m1">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="ciberspace.jpg" alt="Unsplashed background img 3"></div>
</div>


<footer class="page-footer blue-grey lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Most likes</a></li>
                    <li><a class="white-text" href="#!">Last books</a></li>
                    <li><a class="white-text" href="#!">Most viewes</a></li>
                    <li><a class="white-text" href="#!">Most comments</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Login</a></li>
                    <li><a class="white-text" href="#!">Sign Up</a></li>
                    <li><a class="white-text" href="#!">About me</a></li>
                    <li><a class="white-text" href="#!">Contact with me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Faezeh Karraby 👩‍💻</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
